* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("images/flappy-bird-ezgif.com-crop.gif");
  background-size: cover;
}

#text {
  font-size: xx-large;
  position: absolute;
  z-index: 10;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings {
  z-index: 1000;
  position: absolute;
  border: solid black;
  display: none;
  height: 400px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

#gameOver {
  position: absolute;
  z-index: 1000;
  display: none;
  width: 200px;
  height: 200px;
  margin-top: 200px;
  margin-left: 650px;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: x-large;
}
